html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f2f2f2;
}

h1 {
border-bottom: 1px solid #000;
padding-top: 1rem;
}

.btn {
  color: #fff;
}

form {
  background-color: #fff;
}

.btn-light {
  background-color: #000;
  border-color: #000;
}

@media only screen and (max-width: 60px) {

.pad-right {
  padding: .5rem;
}
.pad-left {
  padding: .5rem;
}

}
